# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

bin
.vscode
src/TAGS
src/tags
dependencies/jsoncpp/scons-tools/__pycache__
dependencies/jsoncpp/src/jsontestrunner/jsontestrunner
dependencies/jsoncpp/src/lib_json/*.os
dependencies/jsoncpp/src/test_lib_json/test_lib_json
dependencies/include